<h1>Hello {{userEmail}}</h1>
<p>Just saying hi, and letting you know that
  {{collectionName}}
  is going live in like
  {{timeUntilLaunch}}
  or something?
</p>
<br />
<i>wtf are you waiting for?</i>
